<html>
  <body>
    <table>
      <tr>
        <th>Client Name</th>
        <th>Items</th>
        <th>Returned</th>
        <th>Checkout Time</th>
        <th>Return Time</th>
        <th>Notes</th>
      </tr>
      {% for checkout in checkouts %}
      <tr>
        <td>
          {{checkout.client.first_name}} {{checkout.client.last_name}}
        </td>
        <td>
          {% for item in checkout.items %}
            {{item.name}},
          {% endfor %}
        </td>
        <td>
          {% if checkout.returned %}
            Yes
          {% else %}
            No
          {% endif %}
        </td>
        <td>{{ checkout.checkout_time }}</td>
        <td>{{ checkout.return_time }}</td>
        <td>{{checkout.notes}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
