<html>
  <body>
    <table>
      <tr>
        <th>Client Name</th>
        <th>Items</th>
        <th>Returned</th>
        <th>Checkout Time</th>
        <th>Return Time</th>
        <th>Notes</th>
      </tr>
      {% for checkout in checkouts %}
      <tr>
        <td>{{checkout.client.notes}}</td>
        <td>
          STUB
        </td>
        <td>
          {% if checkout.returned %}
            YES
          {% else %}
            NO
          {% endif %}
        </td>
        <td></td>
        <td>{{ checkout.returnTimeAsString }}</td>
        <td>{{checkout.notes}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
